h1, h2, h3 {
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#time{
  margin-left: 0.5em;
  padding:0.5em;
}
#menu {
  position:absolute;
  top:0;
  right: 0;
  z-index:5;
  background-color: lightGray;
}
#menu .menu{
  display: inline-block;
  padding: 10px;
}
#menu .menu:hover{
  background-color: gray;
}
#menu a {
  text-decoration:none;
  color: black;
}
#menu ul {
  list-style-type:none;
  margin: 0;
}
#menu .dropdown-content {
  right:0;
}
#menu .dropdown-content li {
  text-align: center;
  background-color: lightGray;
  padding: 10px;
}
#menu .dropdown-content li:hover {
  background-color: gray;
}

#hexPlane {
  position:fixed;
  top:15px;
  bottom:20px;
  left:1%;
  right:1%;
  z-index:-1;
}

#right {
  position: fixed;
  right: 0;
  top: 45px;
  max-width:250px;
}
#left {
  position: fixed;
  left: 0;
  top: 45px;
  max-width:250px;
}

#heroCurrent {
  display: none;
}
#dInfo {
  display: none;
  margin: 3px;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
}

#hexStats {
  border: 1px solid black;
  display: none;
  padding: 0.5em;
}
#seedN {
  background-color: lightblue;
  border-radius: 7px;
  font-weight: bold;
  font-size:0.9em;
  padding: 5px;
}
#seed .title {
  font-size:0.8em;
}
.title {
  font-weight: bold;
}

#hexKey {
  display: none;
  margin: auto;
  text-align: center;
  width:150px;
  margin-top: 1em;
}

#notify{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  display: none;
  background-color: rgba(255,255,255,0.75);
  border: 1px solid black;
  border-radius: 10px;
}
#notify.wide {
  width: 800px;
}
#notify.slim {
  width: 400px;
}

.content {
  padding: 1em;
  overflow-y: auto;
}
#notify.wide .content {
  max-height: 600px;
}
#notify.slim .content {
  max-height: 300px;
}

.hero {
  margin: 3px;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
}
.hero h3 {
  margin-bottom:3px;
  padding-left:5px;
  background-color: gray;
  border-radius: 5px;
}
.hero p {
  margin: 0;
  padding-left: 7px;
}
#notify .hero:hover {
  background-color: rgba(155,255,205,0.75);
}

.gClimate {
  opacity: 0;
}

#TCKey {
  padding: .5em;
  border: 1px solid black;
}

#keyClimate {
  display: none;
}


.selView {
  cursor: pointer;
}
.selView.selected{
  text-decoration: underline;
  color: green;
}

.center {
  text-align: center;
}
.header {
  font-weight:bold;
}
.selected {
  fill: yellow;
}

.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #deca7e;
}

.square {
  	width: 10px;
	height: 10px;
	margin-right: 5px;
	display: inline-block;
}

/* ==========================================================================
   Buttons classes
   ========================================================================== */
.buttons {
    padding: 3px;
    margin: 3px;
}
.buttons button {
    background: #876;
    border: none;
    padding: 0.3em 0.7em;
    margin: 0.2em;
    cursor: pointer;
    border-radius: 4px;
}
.buttons button:hover {
    background: #987;
}
.buttons button + button {
    margin-left: 0.3em;
}
.buttons button[disabled], .buttons button[disabled]:hover {
    background: #ba9;
    color: #dcb;
    cursor: default;
}
