#hexPlane {
  position:fixed;
  top:15px;
  bottom:20px;
  left:1%;
  right:1%;
}

path {
  stroke: #fff;
}

circle {
  fill: #000;
  pointer-events: none;
}

.selected {
  fill: yellow;
}
