#hexPlane {
  position:fixed;
  top:15px;
  bottom:20px;
  left:1%;
  right:1%;
}
#pInfo {
  position: absolute;
  top: -5px;
  left: 5px;
  padding: .5em;
  border: 1px solid black;
}
#pInfo h1 {
  margin: 0;
}

path {
  stroke: #fff;
}

circle {
  fill: #000;
  pointer-events: none;
}

.selected {
  fill: yellow;
}

.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #deca7e;
}
